<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i><b> RCA</b></div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Title</th>
              <th>Team</th>
              <th>Created by</th>
              <th>Status</th>
              <th>Created</th>
              <th>Last Activity</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Title</th>
              <th>Team</th>
              <th>Created by</th>
              <th>Status</th>
              <th>Created</th>
              <th>Last Activity</th>
            </tr>
          </tfoot>
          <tbody>
            <% @rcas.each do |rca| %>
              <tr>
                <td><%= link_to rca.title, rca_path(rca) %> </td>
                <td><%= rca.team.name %></td>
                <td><%= rca.user.email %></td>
                <td><%= rca.status %></td>
                <td><%= distance_of_time_in_words(rca.created_at, Time.now) %></td>
                <td><%= distance_of_time_in_words(rca.updated_at, Time.now) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
