<div class = 'container border border-dark' style = "border-width: 5px !important; font-family: 'Verdana'; padding:50px; padding-left:75px">
  <h2>New RCA</h2>
  <div class =  'border-top border-danger' style = 'border-width:3px !important; padding-top:40px'></div>
  <%= form_with model: @rca, local: true do |form| %>
    <% if (@rca.errors.any?) %>
      <div class="alert alert-danger">
        <%=  @rca.errors.full_messages.first %></div>
      <% if (@rca.user.errors[:email].any?) %>
        <div class="alert alert-danger">
          <%=  @rca.user.errors.full_messages[1]%></div>
      <%end%>
    <% elsif (@rca.user.errors[:email].any?) %>
      <div class="alert alert-danger">
        <%=  @rca.user.errors.full_messages.first%></div>
    <%end%>

    <div class = 'row'>
      <p>
        <%= form.label :title, style: 'font-size:20px;'%><br>
        <%= form.text_field :title, class: 'form-control', size: '100', style: 'border-top:0; border-right:0; border-left:0; outline:none; box-shadow:none !important', placeholder: 'Title for the RCA'%>
      </p>
    </div>

    <div class = 'row'>
      <p>
        <%= form.label "Your email", style: 'font-size:20px' %><br>
        <input name = "user[email]" type = "text" class = 'form-control' style = 'border-top:0; border-right:0; border-left:0; outline:none; box-shadow:none !important' placeholder = 'xyz@go-jek.com' size = 100 value = <%= @rca.user.email %> >
      </p>
    </div>

    <div class = 'row'>
      <p>
        <%= form.label :description, style: 'font-size:20px' %><br>
        <%= form.text_area :description, class: 'form-control', style: 'resize: both; box-shadow:none !important', rows:'10', cols:'100'%>
      </p>
    </div>

    <div class = container id = 'actionitem'>
    <div class = 'row'>
      <p>
        <input name = 'actionitem[name]' type = 'text' class = 'form-control'>
        <input type = 'button' value = 'New Action Item' onclick = 'createNewActionItem()'>
      </p>
    </div>
  </div>

    <div class = 'row'>
      <p>
        <%= form.label :status, style: 'font-size:20px'%><br>
        <%= form.select(:status) do %>
          <option value = 'Pending'>Pending</option>
          <option value = 'Completed'>Completed</option>
        <% end %>
      </p>
    </div>

    <div class = 'row'>
      <p>
        <%= form.label :team_id, style: 'font-size:20px' %><br>
        <%= form.select(:team_id) do %>
          <% @teams.each do |team| %>
            <option value = <%= team.id %>><%= team.name %></option>
          <% end %>
        <% end %>
      </p>
    </div>

    <br><br>

    <div class= 'row'>
      <p>
        <%= form.submit 'Create RCA', class: 'btn btn-success' %>
      </p>
    </div>
  <% end %>
</div>

<script>
  function createNewActionItem() {
    var parent = document.getElementById('actionitem')
    var inputfield = document.createElement('INPUT');
    inputfield.setAttribute('type','text');
    inputfield.setAttribute('name','actionitem[name]');
    inputfield.className = 'form-control'
    var row = document.createElement('DIV');
    row.className = 'row';
    var paragraph = document.createElement('P');
    paragraph.appendChild(inputfield);
    row.appendChild(paragraph);
    parent.appendChild(row);
    }
  </script>
