<div class = 'container border border-dark' style = "border-width: 5px !important; font-family: 'Verdana'; padding:50px; padding-left:75px">
  <h2>New RCA</h2>
  <div class =  'border-top border-danger' style = 'border-width:3px !important; padding-top:40px'></div>
  <%= form_with model: @rca, local: true do |form| %>
    <div class = 'row'>
      <p>
        <%= form.label :title, style: 'font-size:1.3vw;'%><br>
        <%= form.text_field :title, size: '100', style: 'border-top:0; border-right:0; border-left:0; outline:none;', placeholder: 'Title for the RCA'%>
      </p>
    </div>
    <div class = 'row'>
      <p>
        <%= form.label "Your email", style: 'font-size:1.3vw' %><br>
        <input name = "user[email]" type = "text"  style = 'border-top:0; border-right:0; border-left:0; outline:none;' placeholder = 'Enter your email here that should be of the form xyz@go-jek.com' size = 100>
      </p>
    </div>
    <div class = 'row'>
      <p>
        <%= form.label :description, style: 'font-size:1.3vw' %><br>
        <%= form.text_area :description, style: 'resize: both', rows:'10', cols:'100'%>
      </p>
    </div>
    <div class = 'row'>
      <p>
        <%= form.label :status, style: 'font-size:1.3vw'%><br>
        <%= form.select(:status) do %>
          <option value = 'Pending'>Pending</option>
          <option value = 'Completed'>Completed</option>
        <% end %>
      </p>
    </div>
    <div class = 'row'>
      <p>
        <%= form.label :team_id, style: 'font-size:1.3vw' %><br>
        <%= form.select(:team_id) do %>
          <% @teams.each do |team| %>
            <option value = <%= team.id %>><%= team.name %></option>
          <% end %>
        <% end %>
      </p>
    </div>
    <br><br>
    <div class= 'row'>
      <p>
        <%= form.submit class: 'btn btn-success' %>
      </p>
    </div>
  <% end %>
</div>
